.header {
    min-height: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px -2px 0px 0px #EFF2F2;
}

.header__blok {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__btn-menu_icon {
    display: none;
}

.header__btn-menu {
    display: none;
}

.header__btn-submenu {
    display: none;
}

.header__submenu {    
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
    list-style: none;
    flex-direction: column;
    position: absolute;
    opacity: 100%;
}

.header__item {
    list-style: none;
    position: relative;
}

.header__item:hover {
    transform: scale(1.06);
}

.header__btn-submenu:checked ~ .header__submenu {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

.header__button {
    margin-left: 164px;
    padding: 20px 14px 20px 14px;
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    color: #03B2A5;
    font-family: Montserrat-Bold;
    font-size: 16px;
}

.header__button:hover {
    cursor: pointer;
}

.header__link {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}