

/*Основной контент*/
/*Главная страница блога*/



/*Заголовок и фильтр*/




/*Оформление кароточек статей*/

   






/*
.button {
    background-color: #35B3A9;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
    */



/*Страница статьи*/


.full-article {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 690px;
    gap: 24px;
}


/*
.full-article h5 {
    font-size: 16px;
    line-height: 24px;
}

.full-article h3 {
    font-size: 24px;
    line-height: 32px;  
}

.full-article p, li  {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 24px;  
}*/



.full-article__article-author-date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 20px;
}

/*содержание*/
.full-article__content-article {
    width: 588px;
    margin: 0;
    padding: 0;
}

.full-article__content-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}


.full-article__content-item {
    margin-left: 32px;
}

.full-article__content-item::marker {
    color: #03B2A5;
    font-size: 24px;
}

.full-article__sub-content-article {
    margin: 0;
    padding: 0;
    list-style: none;
}

.full-article__sub-content-item {
    margin-left: 24px;
}

.full-article__content-link {
    color: black;
}






/*Фоновые изображения*/



/*переход на боковой скролл для фильтра 
и вертикальную ориентацию footer для мобильных телефонов*/

@media (max-width: 767px) {
    
    body {
        overflow-x: hidden;
    }


}

/*iPadPro 12.9*/

@media (min-width: 1024px) and (max-width: 1439px) {

    .articles-btn-position {
    margin-top: 35px;
    margin-bottom: 60px;
    }
}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {

    .articles-btn-position {
        margin-top: 36px;
        margin-bottom: 55px;
    }

}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    .articles-btn-position {
    margin-top: 28px;
    margin-bottom: 59px;
    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {
    

    .articles-btn-position {
        margin-top: 28px;
        margin-bottom: 59px;
    }


}