
.bkgrd-img {
    display: none;
    position: absolute;
    z-index: -10;
}

/*Позиционироване фоновых изображений*/

.blog-bkgrd-img-pos {
    top: 403px;
}

.bkgrd-img-pos_1 {
    margin-top: 30%;
    margin-left: 1222px;
}

.bkgrd-img-posn_2 {
    margin-top: 70%;
    margin-left: 1367px;
}

.bkgrd-img-pos_3 {
    margin-top: 60%;
    margin-right: 345.5px;
}

.bkgrd-img-pos_4 {
    bottom: 0;
}



/*Основной контент*/
/*Главная страница блога*/



/*Заголовок и фильтр*/




/*Оформление кароточек статей*/

   



.article-card__info {
    flex-grow: 1;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-card__text {
    margin-left: 16px;
    margin-right: 14px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.article-card__header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.article-card__head {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Montserrat-Bold;
    line-height: 26px;
}

.article-card__author {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Montserrat-Regular;
    line-height: 18px;    
}

.article-card__preview {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 20px;
    
}

.article-card__date {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}

/*
.button {
    background-color: #35B3A9;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
    */

.articles-btn-position {
    margin-top: 56px;
    margin-bottom: 96px;
}

.articles-btn-size {
    width: 182px;
    height: 48px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/*Страница статьи*/


.full-article {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 690px;
    gap: 24px;
}


/*
.full-article h5 {
    font-size: 16px;
    line-height: 24px;
}

.full-article h3 {
    font-size: 24px;
    line-height: 32px;  
}

.full-article p, li  {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 24px;  
}*/

.full-article__main-headline { 
    margin-top: 54px;
    margin-bottom: 16px;
}


.full-article__article-author-date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 20px;
}

/*содержание*/
.full-article__content-article {
    width: 588px;
    margin: 0;
    padding: 0;
}

.full-article__content-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}


.full-article__content-item {
    margin-left: 32px;
}

.full-article__content-item::marker {
    color: #03B2A5;
    font-size: 24px;
}

.full-article__sub-content-article {
    margin: 0;
    padding: 0;
    list-style: none;
}

.full-article__sub-content-item {
    margin-left: 24px;
}

.full-article__content-link {
    color: black;
}



aside {
    width: 282px;
    display: flex;
}

.make-an-appointment {
    width: 100%;
    background-color: #E6F0FD;
    border-radius: 16px;
}

/*Фоновые изображения*/

@media (min-width: 1440px) {
   .bkgrd-img {
    display: block;
   }
}




/*переход на боковой скролл для фильтра 
и вертикальную ориентацию footer для мобильных телефонов*/

@media (max-width: 767px) {
    
    body {
        overflow-x: hidden;
    }


}

/*iPadPro 12.9*/

@media (min-width: 1024px) and (max-width: 1439px) {

    .articles-btn-position {
    margin-top: 35px;
    margin-bottom: 60px;
    }
}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {

    .articles-btn-position {
        margin-top: 36px;
        margin-bottom: 55px;
    }

}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    .articles-btn-position {
    margin-top: 28px;
    margin-bottom: 59px;
    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {
    

    .articles-btn-position {
        margin-top: 28px;
        margin-bottom: 59px;
    }


}