.footer__social {
    width: 221px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__networks {
    
    display: flex;
    gap: 16px;
    justify-content: flex-start;

}

.footer__net-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}