@import url(breadcrumb--blog.css);
@import url(breadcrumb--article.css);


.breadcrumb {
    width: 100%;
}

.breadcrumb__list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.breadcrumb__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;

}

.breadcrumb__link {
    color: black;
    text-decoration: none;

}

.breadcrumb__text {
    width: 100%;
    display: inline-block;
    font-family: Montserrat-Regular;
    font-size: 12px;
    line-height: 18px;
}

.breadcrumb__list .breadcrumb__item:not(:nth-last-child(1))::after {
    content: "  ";
    background-image: url('../../images/SVG/Arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
}



.breadcrumb__list .breadcrumb__item:nth-last-child(1) {
    overflow: hidden;
}

.breadcrumb__list .breadcrumb__link:nth-last-child(1) {
    overflow: hidden;
}

.breadcrumb__list .breadcrumb__text:nth-last-child(1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}