    @font-face {
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: 400;
        src: local("Montserrat"),
                url("Montserrat-Regular.woff") format("woff");
    }



@font-face {
        font-family: "Montserrat-Bold";
        src: local("Montserrat"),
                url("fonts/Montserrat-Bold.woff") format("woff");
    }