    @font-face {
        font-family: "Montserrat-Regular";
        src: local("Montserrat"),
                url("fonts/Montserrat-Regular.woff") format("woff");
    }



@font-face {
        font-family: "Montserrat-Bold";
        src: local("Montserrat"),
                url("fonts/Montserrat-Bold.woff") format("woff");
    }

@font-face {
        font-family: "Montserrat-SemiBold";
        src: local("Montserrat"),
                url("fonts/Montserrat-SemiBold.woff") format("woff");
    }



@font-face {
        font-family: "Montserrat-Medium";
        src: local("Montserrat"),
                url("fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
        font-family: "Montserrat-Italic";
        src: local("Montserrat"),
                url("fonts/Montserrat-Italic.woff") format("woff");
}

