body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-image: url("images/PNG/background.png");
    background-position-x: center;
    background-position-y: 401px;
    background-repeat: no-repeat;
}


.header {
    min-height: 76px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px -2px 0px 0px #EFF2F2;

}

.header__logo {
    margin-left: 127px;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.header__submenu {
    
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;

    list-style: none;
    flex-direction: column;
    position: absolute;
    opacity: 100%;
}

.header__item {
    list-style: none;
    position: relative;
}


.header__item:hover > .header__submenu {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

.header__button {
    padding: 20px 14px 20px 14px;
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    margin-right: 120px;
    color: #03B2A5;
    font-family: Montserrat-Bold;
    font-size: 16px;
}

.header__button:hover {
    cursor: pointer;
}

.header__link {
    margin: 0;
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap;

}







main {
    width: 1440px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    

    

}

.head {
    margin-top: 16px;
    margin-bottom: 24px;
    min-width: 1200px;
    display: flex;
    flex-direction: column;

}



.head__link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.head__item {
    list-style: none;
}

.head__position {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-family: Montserrat-SemiBold;

}


.head__header { 
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: 48px;
    font-family: Montserrat-Bold;
}


.head__filter {


    display: flex;
    flex-direction: row;
    gap: 8px;

}


.head__button {
    font-family: Montserrat-SemiBold;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    border: #C1C5CD;
    border-width: 1px;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.head__button_img {
    display: none;
}

.head__button:hover {
    cursor: pointer;
}


.head__button:active {
    outline: 2px solid #16C8BB;
    outline-offset: -2px;

    /* border: #16C8BB;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box; */
}





.articles {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;

}
    
    



.articles__first-block {
    min-width: 1200px;
    background-color: rgb(255, 72, 0, 0);

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


.articles__link {

    display: block;
    color: black;
    text-decoration: none;
    white-space: wrap;
    
}

.articles__first-article {

    width: 588px;
    height: 499px;
    display: flex;
    flex-direction: column;
    
}

.articles__next-article {

    width: 384px;
    height: 475px;
    display: flex;
    flex-direction: column;
    
}





.articles__article_foto {

    height: 50%;
    border-radius: 16px 16px 0px 0px;


    
}

.articles__article_tag {

    margin-top: 8px;
    margin-left: 8px;

    border: 1px solid #03B2A5;
    
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.articles__article_tag-text {
    margin: 0;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    outline: 1px solid #C1C5CD;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 24px;
}


.articles__article_img {

    border-radius: 16px 16px 0px 0px;
    position: relative;
    z-index: -1;


    
}


.articles__article_info {

    height: 50%;
    background-color: #FFFFFF;
    border: #DEDEDE;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 16px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.articles__article_text {

    border: #03B2A5;
    border-style: solid;
    
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;


}

.articles__article_header{
    padding: 0;
    margin: 0;


}

.articles__article_head {
    padding: 0;
    margin: 0;
}

.articles__article_author {
    padding: 0;
    margin: 0;
}

.articles__article_preview {
    padding: 0;
    margin: 0;
}

.articles__article_date {

    margin-left: 16px;
    margin-bottom: 16px;
}