body {
    width: 1440px;
    padding: 0;
    margin: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/PNG/background.png");
    background-position-x: center;
    background-position-y: 401px;
    background-repeat: no-repeat;
}

.header {
    min-height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px -2px 0px 0px #EFF2F2;
}


.header__menu {
    display: flex;
    gap: 30px;
}

.header__submenu {
    
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;

    list-style: none;
    flex-direction: column;
    position: absolute;
    opacity: 100%;
}

.header__item {
    list-style: none;
    position: relative;
}

.header__item:hover {
    transform: scale(1.06);
}

.header__item:hover > .header__submenu {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

.header__button {
    padding: 20px 14px 20px 14px;
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    color: #03B2A5;
    font-family: Montserrat-Bold;
    font-size: 16px;
}

.header__button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.header__link {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap;

}

main {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.head {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.head__link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.head__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.head__position {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: Montserrat-Regular;
    font-size: 12px;
}

.head__header { 
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: 48px;
    font-family: Montserrat-Bold;
}

.head__filter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.head__button {
    font-family: Montserrat-SemiBold;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    border: #C1C5CD;
    border-width: 1px;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.head__button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.head__button:active {
    outline: 2px solid #16C8BB;
    outline-offset: -2px;

}

.articles {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
}
    
.articles__link {

    display: block;
    color: black;
    text-decoration: none;
    white-space: wrap;
    
}

.articles__first-article {

    width: 588px;
    height: 499px;
    display: flex;
    flex-direction: column;
    
}

.articles__first-article:hover {
    transform: scale(1.01);
}

.articles__next-article {

    width: 384px;
    height: 475px;
    display: flex;
    flex-direction: column;
    
}

.articles__next-article:hover {
    transform: scale(1.01);
}

.articles__article_foto {
    width: 100%;
    height: 50%;
    border-radius: 16px 16px 0px 0px;
}

.articles__article_tag {
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.articles__article_tag-text {
    margin: 0;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    outline: 1px solid #C1C5CD;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.articles__article_img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;    
    border-radius: 16px 16px 0px 0px;
    position: relative;
    z-index: -1;  
}

.articles__article_info {

    height: 50%;
    background-color: #FFFFFF;
    border: #DEDEDE;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 16px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles__article_text {

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;


}

.articles__article_header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;    

}

.articles__article_head {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Montserrat-Bold;
}

.articles__article_author {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Montserrat-Regular;
    
}

.articles__article_preview {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    
}

.articles__article_date {

    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}

.articlts_button {
    margin-top: 56px;
    padding: 12px 72.5px 12px 72.5px;
    background-color: #35B3A9;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;


}

.articlts_button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.footer {
    margin-top: 96px;
    width: 1440px;
    height: 302px;
    background-color: #2963A3;

}

.footer__upper-bloсk {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    gap: 91.5px;

}

.footer__list {
    width: 310px;
    height: 184px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

}

.footer__link {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Montserrat-Bold;

    text-decoration: none;
}

.footer__item {
    list-style: none;
}

.footer__head{
    color: #FFFFFF;
    font-size: 18px;
    font-family: Montserrat-Bold;
}

.footer__email {

    display: flex;
    justify-content: left;

}

.footer__form {
    width: 384px;
    height: 48px;

    font-size: 14px;
    font-family: Montserrat-Regular;
    border: none;
    border-radius: 4px;

}

.footer__form:focus {
    outline: none;
}

.footer__button {
    width: 68px;
    height: 48px;
    position: relative;
    right: 68px;
    border: none;
    border-radius: 4px;
    background-color: #16C8BB;
}

.footer__button:hover {
    cursor: pointer;
}

.footer__text {
    font-size: 12px;
    font-family: Montserrat-Regular;
    color: #FFFFFF;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__networks {

    display: flex;
    gap: 16px;
    justify-content: flex-start;

}

.footer__networks_link {
    text-decoration: none;

    margin: 0;
    padding: 0;
}

.footer__line {
    width: 1200px;
    height: 1px;
    background-color: #9D9D9D;
    border: none;
    opacity: 0.3;
}

.footer__lower-bloсk {

    display: flex;
    justify-content: start;
    align-items: start;
    gap: 48px;
    margin-left: 120px;
    

}

.footer__lower_text {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat-Regular;;
}

.footer__lower_link {
    text-decoration: none;
}





@media (min-width: 1024px) and (max-width: 1439px) {

    body {
        width: 1024px;
    }

    .header__menu {
    gap: 16px;
    }

    .articles {
        margin-top: 24px;
    }

    .articles__first-article {
    width: 499px;
    }

}