body {
    width: 1440px;
    padding: 0;
    margin: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bkgrd-img {
    display: none;
    position: absolute;
    z-index: -10;
}

/*Позиционироване фоновых изображений*/

.blog-bkgrd-img-pos {
    top: 403px;
}

.bkgrd-img-pos_1 {
    margin-top: 30%;
    margin-left: 1222px;
}

.bkgrd-img-posn_2 {
    margin-top: 70%;
    margin-left: 1367px;
}

.bkgrd-img-pos_3 {
    margin-top: 60%;
    margin-right: 345.5px;
}

.bkgrd-img-pos_4 {
    bottom: 0;
}

/*Шапка сайта*/
.header {
    min-height: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: inset 0px -2px 0px 0px #EFF2F2;
}

.header__blok {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__btn-menu_icon {
    display: none;
}

.header__btn-menu {
    display: none;
}

.header__btn-submenu {
    display: none;
}

.header__submenu {    
    padding: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
    list-style: none;
    flex-direction: column;
    position: absolute;
    opacity: 100%;
}

.header__item {
    list-style: none;
    position: relative;
}

.header__item:hover {
    transform: scale(1.06);
}

.header__btn-submenu:checked ~ .header__submenu {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

.header__button {
    margin-left: 164px;
    padding: 20px 14px 20px 14px;
    background-color: #E3F5F5;
    border: none;
    border-radius: 4px;
    color: #03B2A5;
    font-family: Montserrat-Bold;
    font-size: 16px;
}

.header__button:hover {
    cursor: pointer;
}

.header__link {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

/*Подвал сайта*/
.footer {
    width: 100%;
    height: 302px;
    background-color: #2963A3;
    display: flex;
    justify-content: center;

}

.footer__main-block {
    width: 1200px;
}

.footer__upper-bloсk {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__nav {
    display: flex;
    width: 310px;
    height: 184px;
    justify-content: space-between;

}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

}

.footer__link {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Montserrat-Bold;
    text-wrap: nowrap;
    text-decoration: none;
}

.footer__item {
    list-style: none;
}

.footer__subscription {
    width: 488px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

}

.footer__head {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Montserrat-Bold;
    width: 90%;
}

.footer__email {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.footer__form {
    width: 384px;
    height: 48px;
    font-size: 14px;
    font-family: Montserrat-Regular;
    border: none;
    border-radius: 4px;
}

.footer__form:focus {
    outline: none;
}

.footer__button {
    width: 68px;
    height: 48px;
    position: relative;
    right: 68px;
    border: none;
    border-radius: 4px;
    background-color: #16C8BB;
}

.footer__button:hover {
    cursor: pointer;
}

.footer__text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Montserrat-Regular;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: 0.25px;
    opacity: 0.7;
}

.footer__social {
    width: 221px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__networks {

    display: flex;
    gap: 16px;
    justify-content: flex-start;

}

.footer__networks_link {
    text-decoration: none;

    margin: 0;
    padding: 0;
}

.footer__line {
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #9D9D9D;
    border: none;
    opacity: 0.3;
}

.footer__lower-bloсk {
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 48px;

}

.footer__lower_text {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat-Regular;
    opacity: 0.7;
    line-height: 20px;
}

.footer__lower_link {
    text-decoration: none;
}

/*Основной контент*/
/*Главная страница блога*/
.main-blog {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.articles {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.articles__head {
    margin-top: 16px;
    margin-bottom: 24px;
    width: 100%;
}

/*Заголовок и фильтр*/
.head {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.head__position {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: Montserrat-Regular;
    font-size: 12px;
}

.head__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.head__link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.head__header { 
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: 48px;
    font-family: Montserrat-Bold;
}

.head__filter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.head__btn {
    font-family: Montserrat-SemiBold;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    text-wrap: nowrap;
}

.head__btn:hover {
    cursor: pointer;
}

.head__btn:active {
    outline: 2px solid #16C8BB;
    outline-offset: -2px;

}

/*Блок карточек статей*/
.articles__article-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*Оформление кароточек статей*/
.articles__article-card .article-card:nth-of-type(-n+2) {
    width: 588px;
    height: 499px;
}

.articles__article-card .article-card:nth-of-type(n+3) {
    width: 384px;
    height: 475px;
}
   
.article-card__link {
    display: block;
    color: black;
    text-decoration: none;
}

.article-card__article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.article-card:hover {
    transform: scale(1.01);
}

.article-card__tags {
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.article-card__tag {
    margin: 0;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    outline: 1px solid #C1C5CD;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.article-card__img {
    border-radius: 16px 16px 0px 0px;
}

.article-card__info {
    flex-grow: 1;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-card__text {
    margin-left: 16px;
    margin-right: 14px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.article-card__header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.article-card__head {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Montserrat-Bold;
    line-height: 26px;
}

.article-card__author {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Montserrat-Regular;
    line-height: 18px;    
}

.article-card__preview {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 20px;
    
}

.article-card__date {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    font-family: Montserrat-Regular;
}


.button {
    background-color: #35B3A9;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.articles-btn-position {
    margin-top: 56px;
    margin-bottom: 96px;
}

.articles-btn-size {
    width: 182px;
    height: 48px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/*Страница статьи*/
.main-article {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}


.full-article {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 690px;
}

.head__author-date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 20px;
}

.full-article__content {
    list-style: none;
}
.full-article__content .full-article__item {
    list-style-image: url(images/PNG/marker.png);
}

/*.full-article__item::marker {
    color: #03B2A5;
    font-size: 16px;

}*/

.full-article__item {
    font-size: 16px;
    font-family: Montserrat-Medium;
    line-height: 24px;
}

.full-article__link {
    color: black;
}

.full-article__item .full-article__content .full-article__item {
    list-style-image: none;
}




aside {
    width: 282px;
    display: flex;
}

.make-an-appointment {
    width: 100%;
    background-color: #E6F0FD;
    border-radius: 16px;
}

/*Фоновые изображения*/

@media (min-width: 1440px) {
   .bkgrd-img {
    display: block;
   }
}


/* переход "header" на бургер кнопку для мобильных устройств */
@media (max-width: 1023px) {

    .header__logo {
        margin-left: 20px;
    }

    .header__btn-menu_icon {
        display: flex;
        margin-right: 20px;
    }
        
   .header__menu { 
        display: none;
        gap: 0px;
        z-index: 10;
    }

    .header__btn-menu_icon:hover {
        cursor: pointer;
        transform: scale(2);
    }

    .header__btn-menu:checked ~ .header__menu {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        opacity: 100%;
        margin-left: -160px;
        }


    .header__btn-menu:checked ~ .header__btn-menu_icon {
        transform: scale(2);
    }

    .header__item {
        width: 200px;
        height: 60px;
        list-style: none;
        position: relative;
        background-color: #E3F5F5;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .header__submenu {
        top: 0;
        right: 100%;
    }

    .header__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
    }

    .header__item:hover {
        transform: none;
        outline: #C1C5CD 1px solid;
        outline-offset: -1px;
        background-color: #FFFFFF;
    }

    .header__button {
        padding: 0;
        margin: 0;
        width: 200px;
        height: 60px;    
        color: #03B2A5;
        font-family: Montserrat-Bold;
        font-size: 16px;
        border-radius: 0px;
    }

    .header__button:hover {
    background-color: #FFFFFF;
    }
  
}

/*переход на боковой скролл для фильтра 
и вертикальную ориентацию footer для мобильных телефонов*/

@media (max-width: 767px) {
    
    body {
        overflow-x: hidden;
    }

    .head__filter {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

   .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__main-block {
        flex-direction: column;
        align-items: start;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__upper-bloсk {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer__subscription {
        height: 200px;
        gap: 12px;
    }

    .footer__head {
        width: 100%;
    }

    .footer__lower-bloсk {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 16px;
        gap: 20px;
    } 
}

/*iPadPro 12.9*/

@media (min-width: 1024px) and (max-width: 1439px) {

    body {
    width: 1024px;
    }

    .header__blok {
    width: 960px;
    }

    .header__menu {
        gap: 16px;
    }

    .header__button {
        margin-left: 20px;
    }

    .articles {
        width: 960px;
    }

    .articles__article-card .article-card:nth-of-type(-n+2) {
        width: 468px;
    }

    .articles__article-card .article-card:nth-of-type(n+3) {
        width: 304px;
        height: 458px;
    }

    .articles-btn-position {
    margin-top: 35px;
    margin-bottom: 60px;
    }

    .footer__main-block {
    width: 960px;
    }

    .footer__nav {
    width: 247px;
    }

    .footer__subscription {
    width: 450px;
    }

}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {

    body {
        width: 768px;
    }
    
    .articles {
        width: 728px;
    }

    .articles__article-card .article-card:nth-of-type(-n+2) {
        width: 728px;
        height: 599px;
    }

    .articles__article-card .article-card:nth-of-type(n+3) {
        width: 352px;
        height: 466px;
    }

    .articles-btn-position {
        margin-top: 36px;
        margin-bottom: 55px;
    }

    .footer {
        height: 454px;
    }

    .footer__main-block {
        width: 728px;
    }

    .footer__nav {
        width: 247px;
    }

    .footer__upper-bloсk {
        flex-wrap: wrap;
        row-gap: 26px;
        margin-top: 35px;
        margin-bottom: 27px;
    }

    .footer__subscription {
        width: 450px;
    }

}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    body {
        width: 414px;
    }

    .articles {
        width: 374px;
        flex-direction: column;
        gap: 16px;
    }

    .head__header { 
        margin-top: 32px;
        margin-bottom: 24px;
        font-size: 32px;
        font-family: Montserrat-Bold;
    }

    .articles__article-card .article-card:nth-of-type(-n+4) {
        width: 374px;
        height: 466px;
    }

    .articles__article-card .article-card:nth-of-type(n+5) {
        display: none;
    }

    .articles-btn-position {
    margin-top: 28px;
    margin-bottom: 59px;
    }

    .footer {
    height: 746px;
    }

    .footer__main-block {
    width: 375px;
    }

    .footer__upper-bloсk {
    row-gap: 26px;
    margin-top: 35px;
    margin-bottom: 27px;
    }

    .footer__subscription {
    width: 375px;
    }

    .footer__form {
    width: 375px;
    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {

    body {
        width: 320px;
    }


    .articles {
        width: 288px;
        flex-direction: column;
        gap: 16px;
    }

    .head__header { 
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        font-family: Montserrat-Bold;
    }

    .articles__article-card .article-card:nth-of-type(-n+4) {
        width: 288px;
        height: 484px;
    }

    .articles__article-card .article-card:nth-of-type(n+5) {
        display: none;
    }

    .articles-btn-position {
        margin-top: 28px;
        margin-bottom: 59px;
    }

    .footer {
        height: 746px;
    }

    .footer__main-block {
        width: 288px;
    }

    .footer__upper-bloсk {
        row-gap: 23px;
        margin-top: 35px;
        margin-bottom: 27px;
    }

    .footer__subscription {
        width: 288px;
    }

    .footer__form {
        width: 288px;
    }
}