
.footer__lower-bloсk {
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 48px;

}

.footer__lower-text {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat-Regular;
    opacity: 0.7;
    line-height: 20px;
}

.footer__lower-link {
    text-decoration: none;
}

@media (max-width: 767px) {
    
    .footer__lower-bloсk {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 16px;
        gap: 20px;
    } 
}
