.article__img--size-1 {

    height: 331px;
}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    .article__img--size-1 {
        height: 207px;
    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {

    .article__img--size-1 {
        height: 160px;
    }

}