.selection-specialist {
    margin-top: 72px;
    width: 1200px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}



.selection-specialist__container {
    box-sizing: border-box;
    width: 348px;
    display: flex;
    flex-direction: column;
}

.selection-specialist__img {
    margin-right: 29px;
}

.selection-specialist__header {
    font-family: Montserrat-Bold;
    font-size: 48px;
    line-height: 56px;
}

.selection-specialist__text {
    margin-top: 24px;
    font-family: Montserrat-Regular;
    font-size: 18px;
    line-height: 26px;

}


/*iPad mini*/
@media (max-width: 1439px) {

    .selection-specialist {
        display: none;
    }
}