.selection-specialist {
    margin-top: 72px;
    box-sizing: border-box;
    width: 348px;
    display: flex;
    flex-direction: column;
    margin-bottom: 158px;
}

.selection-specialist__header {
    font-family: Montserrat-Bold;
    font-size: 48px;
    line-height: 56px;
}

.selection-specialist__text {
    margin-top: 24px;
    font-family: Montserrat-Regular;
    font-size: 18px;
    line-height: 26px;

}


/*iPad mini*/
@media (max-width: 1439px) {

    .selection-specialist {
        display: none;
    }
}