.content__articles {
    margin-top: 24px;
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}

/*iPhone 11 Pro Max iPhone SE*/
@media (min-width: 0px) and (max-width: 767px) {

    .content__articles {
        flex-direction: column;
        gap: 16px;
    }
    
}


/*iPhone 11 Pro Max */
@media (min-width: 414px) and (max-width: 767px) {

    .content__articles{
        margin-top: 16px;
    }
}
