.article__quote {
    margin-top: 40px;
    width: 100%;
    padding: 34px 24px 24px;

    background-color: #F3F7FE;
    border-radius: 16px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    background-image: url(../../../images/PNG/background/background_quote.png);
    background-size: 55.78px 36px;
    background-position: 24px 24px;
    background-repeat: no-repeat;

}


/*iPadPro 12.9, iPad mini */

@media (min-width: 768px) and (max-width: 1439px) {

.article__quote {

    margin-top: 24px;
    padding: 24px;

}
    
}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    .article__quote {

        margin-top: 24px;
        padding: 16px;
        background-position: 16px 16px;

    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {

    .article__quote {

        margin-top: 40px;
        padding: 16px;
        background-position: 16px 16px;

    }
}
