.article__blok--img-text-horizontal {

    display: flex;
    flex-direction: row;
    gap: 24px;

}


/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {

    .article__blok--img-text-horizontal {
        gap: 16px;
    }
}


/*iPhone 11 Pro Max, iPhone SE*/

@media (min-width: 0px) and (max-width: 767px) {

    .article__blok--img-text-horizontal {

        display: flex;
        flex-direction: column;
        gap: 16px;

    }

}
