.article__blok--advice {
    box-sizing: border-box;
    width: 100%;

    background-image: url(../../../images/PNG/background/Article_background_img_3.png);
    background-repeat: no-repeat;
    background-size: 240px 168px;
    background-position: top center;
}


