.article__list {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}


.article__list--body {
    margin: 0;
}


.article__list--links {
    margin: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.article__list--small-marker .article__item:not(:nth-last-child(1))::after {
    content: "·";
    }


.article__list--green-marker .article__item::before {
    content: "";
    background-image: url(../../../images/SVG/marker.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}