@import url(__filter/filter.css);
@import url(__articles/articles.css);
@import url(content--article.css);

.content {
    width: 1200px;
    display: flex;    
}


.content__blog {        
    flex-direction: column;
}


/*iPadPro 12.9*/
@media (min-width: 1024px) and (max-width: 1439px) {

    .content {
        width: 960px;
    }    
}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {
    
    .content {
        width: 728px;
    }

}

/*iPhone 11 Pro Max */
@media (min-width: 414px) and (max-width: 767px) {
    
    .content {
        width: 374px;
    }
}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {

    .content {
        width: 288px;
    }
}
