@import url(__header/header.css);
@import url(__info/__info.css);
@import url(__item/item.css);


@import url(__text/text.css);

@import url(__list/list.css);
@import url(__list/list--content.css);
@import url(__list/list--info.css);


@import url(__body/body.css);
@import url(__advice/advice.css);


@import url(__blok/blok.css);
@import url(__blok/blok--advice.css);
@import url(__blok/blok--quote.css);
@import url(__blok/blok--topic.css);
@import url(__blok/blok--img-text-horizontal.css);
@import url(__blok/blok--img-text-vertical.css);
@import url(__blok/blok--container-img-text.css);
@import url(__blok/blok--exercise.css);






.article {
    margin: 0;
    padding: 0;
    width: 690px;
}



/*iPadPro 12.9*/

@media (min-width: 1024px) and (max-width: 1439px) {

    .article {
        width: 714px;
    }
    
}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {

    .article {
        width: 728px;
    }

}


/*iPhone 11 Pro Max */

@media (min-width: 414px) and (max-width: 767px) {

    .article {
        width: 374px;
    }

}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {

    .article {
        width: 288px;
    }

}