.button--header {
    width: 230px;
    height: 48px;
    background-color: #E3F5F5;
    color: #03B2A5;
}

@media screen and (max-width: 1023px) {
    .button--header {
        display: none;
    }
}